div(id="main" sw-container="swippleData")
div.control-buttons
    div.control-button.dislike-button.col-xs-3.col-md-2.col-md-offset-2.col-lg-1.col-lg-offset-4(ng-click="dislike()")
        i.fa.fa-thumbs-o-down
        p dislike
    div.control-button.tags-button.col-xs-3.col-md-2.col-lg-1(ng-click="tags()")
        i.fa.fa-tags
        p tags
    div.control-button.skip-button.col-xs-3.col-md-2.col-lg-1(ng-click="skip()")
        i.fa.fa-mail-forward
        p skip
    div.control-button.like-button.col-xs-3.col-md-2.col-lg-1(ng-click="like()")
        i.fa.fa-thumbs-o-up
        p like
