script(src="/vendor/jquery.js")
script(src="/vendor/bootstrap.js")
script(src="/vendor/toastr.js")
script(src="/vendor/greensock/TweenMax.js")
//script(src="/vendor/greensock/jquerygasp.js")
script(src="/vendor/greensock/easing/EasePack.js")

script(src="/vendor/translate3d.js")
script(src="/vendor/throttle-debounce.js")
script(src="/vendor/angular.js")
script(src="/vendor/angular-route.js")
script(src="/vendor/angular-resource.js")
script(src="/vendor/angular-touch.js")
script(src="/app/js/app.js")
script(src="/app/js/routes.js")
script(src="/app/js/controllers.js")
script(src="/app/js/services.js")
script(src="/app/js/directives.js")